.card-plant-buy{
    width: 244px;

    .card-plant-buy-title{
        width: 100%;
        font-size: $h4-size;
        font-weight: 800;
        line-height: 1.2;
        
        p{
            margin-bottom: 0;
        }
    }

    .card-plant-buy-price{
        font-size: 1.2rem;
        font-weight: 600;
        color: rgb(209, 207, 207);
    }

    .card-plant-buy-icons{
        color: $text-color;
    }
}