

// Variaveis btn
$btn-size : 150px;
$btn-padding: 10px;
$btn-radius-1 : 35px;
$btn-radius-2 : 0.25rem;


// Variaveis Titulo
$h1-size : 3.7rem;
$h2-size : 3.4rem;
$h3-size : 2.8rem;
$h4-size : 2.5rem;
$h5-size : 2.2rem;
$h6-size : 1.9rem;
$h7-size : 1.6rem;
$h8-size : 1.2rem;
$h9-size : 1rem;
$h10-size : 0.9rem;
$h12-size : 0.8rem;
$h14-size : 0.7rem;


//Cores
$theme-color: #f6f6f6;
$text-color: #6e6e6e;
$white: #FFFFFF;
$green: #15573F;
$green-light: #7BAF9E;
$orange: #FD9872;
$btn-colorText1: #FFFFFF;
$btn-colorText2: #000000;
$box-shadow-1: #e6e6e6;


// Tamanhos
$btn-max-height: 43.2px;
